@model IEnumerable<NonProfIT.Models.Project>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    @foreach (var item in Model)
    {
        <div class="card m-3" style="width: 18rem;">
            <div class="card-body">

                @if (item.Available)
                {
                    <span class="float-lg-end m-2 badge bg-success">Available</span>
                }
                else
                {
                    <span class="float-lg-end m-2 badge bg-danger">Unavailable</span>
                }
                <h5 class="card-title fw-bold">@item.Name</h5>
                <h6 class="card-subtitle mb-2 text-muted">$@item.Compensation</h6>
                <p class="card-text">Klik op meer info voor de omschrijving.</p>
                @if (item.Available)
                {
                    @if (User.IsInRole("Student"))
                    {
                        <form asp-action="SignUp">
                            <input type="hidden" value="@item.ProjectId" name="ProjectId" />
                            <input type="submit" value="Aanmelden" class="btn btn-sm btn-dark" />
                            <input type="submit" asp-action="Details" asp-route-id="@item.ProjectId" value="Meer info" class="btn btn-sm btn-dark" />
                        </form>
                    }
                }
                else
                {
                    <form asp-action="Details">
                    <input type="submit" asp-action="Details" asp-route-id="@item.ProjectId" value="Meer info" class="btn btn-sm btn-dark" />
                    </form>

                }
            </div>
        </div>
    }
</div>